@model internPlatform.Domain.Models.ViewModels.URUpdateViewModel
@{
    ViewBag.Title = "UpdateUser";
    Layout = "~/Areas/Admin/Views/Shared/_AdminMenuLayout.cshtml";
}
@{


    <h2>Update User <i class="bi bi-person-circle"></i></h2>


    <div class="container d-flex flex-column align-items-center">
        @using (Html.BeginForm("UpdateUser", "Dashboard", new { area = "Admin" }, FormMethod.Post, new { role = "form", @class = "col-12 d-flex flex-column align-items-center" }))
        {
            <input value="@Model.User.User.Id" id="User_User_Id" name="User.User.Id" title="" hidden />
            <input value="@Model.User.Role" id="User_Role" name="User.Role" hidden />
            <input value="@Model.User.User.UserName" id="User_User_UserName" name="User.User.UserName" hidden />

            <div class=" row col-12 col-lg-7 mt-3 ">
                @Html.AntiForgeryToken()

            </div>
            <div class=" row col-12 col-lg-7 mt-3 ">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="row">
                    @Html.LabelFor(m => m.User.User.UserName, new { @class = "col-md-4 col-form-label"   } )
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.User.User.UserName, new { @class = "form-control", disabled = true })
                    </div>
                </div>
            </div>
            <div class=" row col-12 col-lg-7 mt-3">
                <div class="row">
                    @Html.LabelFor(m => m.SelectedRole, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        <select class="form-control " id="SelectedRole" name="SelectedRole">
                            @foreach (var item in Model.Roles)
                            {
                                <option id="@item.Value" value="@item.Text" @(item.Selected ? "selected" : "") class="p-4"> @item.Text </option>
                            }
                        </select>
                        @*@Html.DropDownListFor(m => m.SelectedRole, Model.Roles , new { @class = "form-control" })*@
                    </div>
                </div>
            </div>
            <div class=" row col-12 col-lg-7 mt-3">
                <div class="row">
                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class=" row col-12 col-lg-7 mt-3">
                <div class="row ">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-4 col-form-label" })
                    <div class="col-md-8">
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="row col-12 col-lg-7 mt-3 d-flex flex-row justify-content-center align-items-center  ">

                <div class=" mt-0 ml-0 w-auto">
                    @Html.ActionLink("Back to users", "Users", "Dashboard", new { @class = "btn text-muted " })
                </div>
                <div class=" w-auto  m-0">
                    <button type="submit" value="Update" class="btn btn-outline-primary">Update</button>
                </div>
            </div>
        }


    </div>



}