@model internPlatform.Domain.Models.ViewModels.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<main aria-labelledby="title" class="d-flex flex-row justify-content-center">

    <div class="row mt-5 card p-5 col-6 mb-5"
         style="border-radius: 50px;
    background: rgb(221,221,221);
    background: linear-gradient(137deg, rgba(241,241,241,1) 54%, rgba(255,255,255,1) 100%);
    box-shadow: 20px 15px 60px #bebebe, -20px -20px 60px #ffffff;
    border: none ">

        @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            <h4>Change Password Form</h4>

            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="row">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-5 col-form-label"})
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control mb-2", @style = "border-radius:15px; border-width: 0px" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-5 col-form-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control mb-2", @style = "border-radius:15px; border-width: 0px" })
                </div>
            </div>
            <div class="row">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 col-form-label" })
                <div class="col-md-6">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control mb-2", @style = "border-radius:15px; border-width: 0px" })
                </div>
            </div>
            <div class="row mt-4">
                <div class="offset-md-2 col-md-10">
                    <input type="submit" value="Change password" class="btn btn-outline-dark" />
                </div>
            </div>
        }
        </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}