@model internPlatform.Domain.Models.ViewModels.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<main aria-labelledby="title" class="d-flex flex-row justify-content-center">

    <div class="mt-5 card p-5 col-6 mb-5" 
        style="border-radius: 50px; 
        background: rgb(221,221,221); 
        background: linear-gradient(137deg, rgba(231,231,231,1) 54%, rgba(245,245,245,1) 100%); 
        box-shadow: 20px 15px 60px #bebebe, -20px -20px 60px #ffffff; 
        border: none ">

        <h2 id="title">@ViewBag.Title.</h2>

        <p class="text-success">@ViewBag.StatusMessage</p>
        <div>
            <h4>Change your account settings</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>Password:</dt>
                <dd>
                    [
                    @if (Model.HasPassword)
                    {
                        @Html.ActionLink("Change your password", "ChangePassword")
                    }
                    else
                    {
                        @Html.ActionLink("Create", "SetPassword")
                    }
                    ]
                </dd>
                <dt>External Logins:</dt>
                <dd>
                    @Model.Logins.Count [
                    @Html.ActionLink("Manage", "ManageLogins") ]
                </dd>

         
            </dl>
        </div>


    </div>

</main>

