@model internPlatform.Domain.Models.ViewModels.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

<main aria-labelledby="title" style="height:82vh; overflow-y:auto">

    <div class="col-12 d-flex justify-content-center">

        <div class="conatainer d-flex flex-column align-items-center justify-content-center col-11 col-lg-5 p-4 " style="border: 5px solid rgb(41 44 62); border-radius: 20px">

            <i class="bi bi-person-circle display-1"></i>
            <h2 id="title">@ViewBag.Title</h2>

            <div class="row col-12 mt-4">

                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    <h4>Enter your email.</h4>
                    <hr />
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 col-form-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="offset-md-2 col-md-10">
                            <input type="submit" class="btn btn-outline-dark" value="Email Link" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</main>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
