
@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    <div id="nav-footer" class="pb-3">

        <div id="nav-footer-heading">
            <div id="nav-footer-avatar"><img src="https://gravatar.com/avatar/4474ca42d303761c2901fa819c4f2547" /></div>
            <div id="nav-footer-titlebox">
                <a id="nav-footer-title" href="/manage/index" target="_blank"> @( (User.Identity.GetUserName().Length > 13)? User.Identity.GetUserName().Substring(0, 13) + "..." : User.Identity.GetUserName())  </a>
                <span id="nav-footer-subtitle"> @(User.IsInRole("SuperAdmin")? "SuperAdmin":"Admin") </span>
            </div>
            <label for="nav-footer-toggle"><i class="bi bi-caret-up-fill"></i></label>
        </div>
        <div id="nav-footer-content" class=" ">
            <span>Welcome on board @User.Identity.GetUserName() ! </span>

        </div>

        @using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "" }))
        {
            @Html.AntiForgeryToken()
            <a class=" px-5" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
        }

    </div>

}
else
{
    <ul class="navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, htmlAttributes: new { id = "registerLink", @class = "nav-link" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", new { area = "" }, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}
